@{
    ViewData["Title"] = "Home Page";
}

<div class="main">
    <div class="main__container">
        <div class="main__content">
            <h1>BİLGİSAYAR MÜHENDİSLERİ</h1>
            <h2>Teknoloji Dünyası</h2>
            <p> Bir mühendis, bütün dünyayı değiştirebilir. </p>
        </div>
        <div class="main__im--container">
            <img src="~/images/pic1.svg" alt="pic" id="main__img">
        </div>
    </div>
<div class="services">
    <h1>See what the hype is about</h1>
</div>
</div>
